#gridContainer {
    border: 2px solid red;
    display: inline-block;
}

#flexContainer {
    display: flex;
    justify-content: center;
}

.col {
    display: inline-block;
}

.square {
    border: 1px solid black;
}

button {
    margin-bottom: 25px;
}

#ui {
    border: 1px solid black;
    margin: 25px 0px 50px 0px;
}